<tr class="mission" id="mission-<%= mission.id %>">
  <td class="mission-name">
    <%= link_to mission.name, mission_path(mission.id) %>
  </td>
  <td class="mission-content">
    <%= mission.content %>
  </td>
  <td><%= link_to t("missions.edit_button"), edit_mission_path(mission.id) %></td>
  <td><%= link_to t("missions.destroy_button"), mission_path(mission.id), method: "delete", data: {confirm: t("missions.destroy.alert")} %></td>
</tr>