<tr class="mission" id="mission-<%= mission.id %>">
  <td class="mission-name">
    <%= link_to mission.name, mission_path(mission.id) %>
  </td>
  <td class="mission-content">
    <%= mission.content %>
  </td>
  <td><%= link_to "Edit Mission", edit_mission_path(mission.id) %></td>
  <td><%= link_to "Delete Mission", mission_path(mission.id), method: "delete", data: {confirm: "Are you sure"} %></td>
</tr>