<h1><%= t("missions.edit.title")%></h1>

<%= form_for(@mission, url: mission_path(@mission.id), method: "patch") do |f| %>
  
<%= f.label t("missions.table.name") %>
<%= f.text_field :name %>

<%= f.label t("missions.table.content") %>
<%= f.text_area :content %>

<%= f.submit t("missions.table.update") %>
<% end %>


<%= link_to t("missions.return_button"), missions_path %>