<h1><%= t("missions.index.title") %></h1>

<%= form_tag search_path, id: "search", method: "get" do %>
  <%= label_tag :name, t("missions.table.search.query") %>
  <%= text_field_tag :name %>
  <%= label_tag :work_state, t("missions.table.search.work_state") %>
  <%= select_tag :work_state, options_for_select([[t("missions.table.state_type.waiting"),"waiting"], [t("missions.table.state_type.progressing"), "progressing"], [t("missions.table.state_type.completed"), "completed"]]), include_blank: true %>
  <%= submit_tag t("missions.table.search.submit") %>
<% end %>

<%= link_to t("missions.create_button"), new_mission_path %>

<table id="missions_table">
  <thead>
    <tr>
      <th><%= t("missions.table.name") %></th>
      <th><%= t("missions.table.content") %></th>
      <th><%= sortable("created_at")%></th>
      <th><%= sortable("deadline")%></th>
      <th>
        <%= sortable("work_state") %>
        <ul>
          <li><%= link_to t("missions.table.state_type.waiting"), search_path(work_state: "waiting") %></li>
          <li><%= link_to t("missions.table.state_type.progressing"), search_path(work_state: "progressing") %></li>
          <li><%= link_to t("missions.table.state_type.completed"), search_path(work_state: "completed") %></li>
        </ul>
      </th>
      <th><%= sortable("priority")%></th>
      <th><%= t("missions.table.edit") %></th>
      <th><%= t("missions.table.destroy") %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><%= paginate @missions %></td></tr>
    <%= render partial: "missions/mission", collection: @missions %>
    <tr><td><%= paginate @missions %></td></tr>
  </tbody>
</table>