<h1><%= t("missions.index.title") %></h1>

<%= form_tag search_path, id: "search", method: "get" do %>
  <%= label_tag :query, t("missions.table.search.query") %>
  <%= text_field_tag :query %>
  <%= label_tag :work_state, t("missions.table.search.work_state") %>
  <%= select_tag :work_state, options_for_select([[t("missions.table.state_type.waiting"),"waiting"], [t("missions.table.state_type.progressing"), "progressing"], [t("missions.table.state_type.completed"), "completed"]]), include_blank: true %>
  <%= submit_tag t("missions.table.search.submit") %>
<% end %>

<%= link_to t("missions.create_button"), new_mission_path %>

<table id="missions_table">
  <thead>
    <tr>
      <th><%= t("missions.table.name") %></th>
      <th><%= t("missions.table.content") %></th>
      <th><button onclick="Sort('created_at')"><%= t("missions.table.created_at") %></button></th>
      <th><button onclick="Sort('deadline')"><%= t("missions.table.deadline") %></button></th>
      <th>
        <button><%= t("missions.table.work_state") %></button>
        <ul>
          <li><%= link_to t("missions.table.state_type.waiting"), search_path(work_state: "waiting") %></li>
          <li><%= link_to t("missions.table.state_type.progressing"), search_path(work_state: "progressing") %></li>
          <li><%= link_to t("missions.table.state_type.completed"), search_path(work_state: "completed") %></li>
        </ul>
      </th>
      <th><button onclick="Sort('priority')"><%= t("missions.table.priority")%></button></th>
      <th><%= t("missions.table.edit") %></th>
      <th><%= t("missions.table.destroy") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "missions/mission", collection: @missions %>
  </tbody>
</table>

<script>
  var created_at_button = new Object({direction: "asc"});
  var deadline_button = new Object({direction: "asc"});
  var priority_button = new Object({direction: "asc"});
  var button;
  function Sort(column){
    CheckColumn(column);
    TriggerDirection(button);
    console.log(button.direction)
    $.ajax({
      url: "<%= sort_path %>",
      type: "GET",
      dataType: "script",
      data: {"column": column, "direction": button.direction, "query": GetQueryString() }
    })
  }
  function CheckColumn(column){
    if(column == "deadline"){ button = deadline_button }
    if(column == "created_at"){ button = created_at_button }
    if(column == "priority"){ button = priority_button }
  }
  function TriggerDirection(button){
    if( button.direction =="asc" ){
      button.direction = "desc"
    } else {
      button.direction = "asc"
    }
  }

  function GetQueryString(){
    var queryhash = {};
    url = new URL(window.location);
    queryhash["query"] = url.searchParams.get("query");
    queryhash["work_state"] = url.searchParams.get("work_state");
    return queryhash;
  }
</script>