<h1><%= t("missions.index.title") %></h1>

<%= link_to t("missions.create_button"), new_mission_path %>

<table id="missions_table">
  <thead>
    <tr>
      <th><%= t("missions.table.name") %></th>
      <th><%= t("missions.table.content") %></th>
      <th><%= t("missions.table.edit") %></th>
      <th><%= t("missions.table.destroy") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "mission", collection: @missions %>
  </tbody>
</table>