<h1><%= t("missions.new.title") %></h1>

<%= form_for(@mission, url: missions_path, method: "post") do |f| %>
  
  <%= f.label t("missions.table.name") %>
  <%= f.text_field :name %>
  
  <%= f.label t("missions.table.content") %>
  <%= f.text_area :content %>

  <%= f.submit t("missions.table.create") %>
<% end %>

<%= link_to t("missions.return_button"), missions_path %>