<h1><%= t("missions.new.title") %></h1>

<%= form_for(@mission, url: missions_path, method: "post") do |f| %>
  
  <%= f.label t("missions.table.name") %>
  <%= f.text_field :name %>
  
  <%= f.label t("missions.table.content") %>
  <%= f.text_area :content %>

  <%= f.label t("missions.table.deadline") %>
  <%= select_date Date.today, start_year: Date.today.year, prefix: :deadline %>

  <%= label_tag :no_deadline, t("missions.table.no_deadline") %>
  <%= check_box_tag :no_deadline %>

  <%= f.submit t("missions.table.create") %>
<% end %>

<%= link_to t("missions.return_button"), missions_path %>