<div class="row justify-content-center">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= t("missions.show.title") + @mission.name %></h3>
      <div class="pb-2"><h5 class="created_at card-subtitle text-muted"><%= t("missions.table.created_at")+ ": " + @mission.created_at.strftime("%Y-%m-%d") %></h5></div>
      <div class="pb-2">
        <% if @mission.deadline.present? %>
          <h5 class="deadline card-subtitle text-muted"><%= t("missions.table.deadline")+ ": " +  @mission.deadline.to_s %></h5>
        <% else %>
          <h5 class="nodeadline card-subtitle text-muted"><%= t("missions.table.deadline")+ ": " +  t("missions.table.no_deadline") %></h5>
        <% end %>
      </div>
      <div class="pb-2"><h5 class="work_state card-subtitle text-muted"><%= t("missions.table.work_state") + ": " + t("missions.table.state_type.#{@mission.work_state}") %></h5></div>
      <div class="pb-2"><h5 class="priority card-subtitle text-muted"><%= t("missions.table.priority") + ": " + t("missions.table.priority_level.#{@mission.priority}") %></h5></div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @mission.content %></p>
    </div>
    <div class="card-footer">
      <%= link_to t("missions.progress_button"), workstate_path(@mission, state: "progress"), class: "progress_button btn btn-primary ",method: "patch", remote: true %>
      <%= link_to t("missions.wait_button"), workstate_path(@mission, state: "wait"), class: "wait_button btn btn-warning", method: "patch", remote: true %>
      <%= link_to t("missions.complete_button"), workstate_path(@mission,  state: "complete"), class: "complete_button btn btn-success", method: "patch", remote: true %>
      <%= link_to t("missions.edit_button"), edit_mission_path(@mission.id), class: "btn btn-info"%>
      <%= link_to t("missions.destroy_button"), mission_path(@mission.id), method: "delete", data: {confirm:  t("missions.destroy.alert")}, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<script>

  <% if @mission.waiting? %>
    $(".wait_button").hide();
    $(".progress_button").show();
    $(".complete_button").hide();
  <% end %>

  <% if @mission.progressing? %>
    $(".wait_button").show();
    $(".progress_button").hide();
    $(".complete_button").show();
  <% end %>

  <% if @mission.completed? %>
    $(".wait_button").hide();
    $(".progress_button").hide();
    $(".complete_button").hide();
  <% end %>


</script>