<h1><%= t("missions.show.title") + @mission.name %></h1>

<p>
  <%= @mission.content %>
</p>

<%= link_to t("missions.edit_button"), edit_mission_path(@mission.id) %>
<%= link_to t("missions.destroy_button"), mission_path(@mission.id), method: "delete", data: {confirm:  t("missions.destroy.alert")} %>
<%= link_to t("missions.return_button"), missions_path %>