<div>
  <h3>
    <%= @user.name%>
  </h3>
</div>
<div>
  <h5>
    <%= @user.email%>
  </h5>
</div>
<div>
  <h5>
    <%= @user.missions_count %>
  </h5>
</div>

<%= paginate @missions %>
<table id="missions_table" class="table">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">#</th>
      <th scope="col" class="text-nowrap"><%= t("missions.table.name") %></th>
      <th scope="col" class="text-nowrap"><%= t("missions.table.content") %></th>
      <th scope="col" class="text-nowrap"> <%= sortable(Mission, "created_at") %></th>
      <th scope="col" class="text-nowrap"><%= sortable(Mission, "deadline") %></th>
      <th scope="col" class="text-nowrap">
        <div class="btn-group">
          <%= sortable(Mission, "work_state") %>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <%= link_to t("missions.table.state_type.all"), admin_search_path(model: "Mission"), class: "dropdown-item" %>
            <%= link_to t("missions.table.state_type.waiting"), admin_search_path(model: "Mission", work_state: "waiting"), class: "dropdown-item" %>
            <%= link_to t("missions.table.state_type.progressing"), admin_search_path(model: "Mission", work_state: "progressing"), class: "dropdown-item" %>
            <%= link_to t("missions.table.state_type.completed"), admin_search_path(model: "Mission", work_state: "completed"), class: "dropdown-item" %>
          </div>
        </div>
      </th>
      <th scope="col" class="text-nowrap">
        <div class="btn-group">
          <%= sortable(Mission, "priority") %>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
              <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <%= link_to t("missions.table.priority_level.all"), admin_search_path(model: "Mission"), class: "dropdown-item" %>
            <%= link_to t("missions.table.priority_level.low"), admin_search_path(model: "Mission", priority: "low"), class: "dropdown-item" %>
            <%= link_to t("missions.table.priority_level.medium"), admin_search_path(model: "Mission", priority: "medium"), class: "dropdown-item" %>
            <%= link_to t("missions.table.priority_level.high"), admin_search_path(model: "Mission", priority: "high"), class: "dropdown-item" %>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "missions/mission", collection: @missions %>
  </tbody>
</table>
<%= paginate @missions %>