<!DOCTYPE html>
<html>
  <head>
    <title>Mytaskmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <% flash.each {|type, msg| concat content_tag(:p, msg) } if flash.any? %> -->
    <% show_flash %>
    <%= yield %>
    
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </body>
</html>
